.jumbotron {
  background-image: url("../images/bg-lg.jpg");
  background-size: cover;
  background-position: center;
  letter-spacing: 4px;
  height: 100vh;

  padding-top: 15%;
  padding-bottom: 25%;
  margin-bottom: 0;
}
  .jumbotron.name {
    font-size: 98px;
    padding-top: 10vh;

    color: #FDF3E7;
    font-weight: 100;
    text-shadow: 2px 2px #000000;
    text-align: center;
  }


.jumbotron h1 {
    font-size: 7.5em;
    text-align: center;
    text-shadow: -2px -2px 2px #000;
    font-family: "Garamond";
}

.anchor {
  display: block;
  position: relative;
  top: -54px;
  visibility: hidden; }
  @media screen and (max-width: 767px) {
    .anchor {
      top: 0;
    }
  }


section {
  color:#FDF3E7;
  display: flex;
  position: relative;
  align-items: center;
  min-height: calc(100vh - 54px);
}
  
  @media screen and (max-width: 767px) {
    section {
      min-height: 100vh;
    }
  }


  section h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0;
    text-align: left;
  }

  section p  {
    font-size: 17px;
    line-height: 1.6em;
    text-align: justify;
  }
 
  section.about {
    background:#558C89;
    background-size: cover;
    background-position: center;
  }
  section.about.container {
      margin-left: 30px;
      margin-right: 30px;
  }

  section.about #pic-container-lg, #pic-container-sm{
      position: relative;
  }

      section.about #pic-container-lg #profile-pic, section.about #pic-container-sm #profile-pic {
        background-image: url("../images/self.jpg");
        background-position: center;
        background-repeat: none;
        background-size: cover;
      }
        @media screen and (max-width: 767px) {
          section.about #pic-container-lg #profile-pic, section.about #pic-container-sm #profile-pic {
            box-shadow: -1px -1px 1px #000;
            width: 200px;
            height: 200px;
            border-radius: 7px;
            position: absolute;
            top: 50%;
            margin-left: -75px;
            margin-top: -75px;
            left: 50%;
          }
        }
        @media screen and (min-width: 768px) {
          section.about #pic-container-lg #profile-pic, section.about #pic-container-sm #profile-pic {
            box-shadow: -2px -2px 2px #000;
            width: 300px;
            height: 300px;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            margin-left: -125px;
            margin-top: -125px;
            left: 60%;
          }
        }
    section.about #pic-container-sm {
      min-height: 200px;
      margin-bottom: 15px;
    }

    section.education{
      background:#74AFAD;
      background-size: cover;
      background-position: center;
    }

      section.education.container {
        margin-left: 30px;
        margin-right: 30px;
      }

      section.education #mst-logo-container, #ecc-logo-container {
        position: relative;
        
      }

      section.education #mst-logo-container #mst-logo {
        background-image: url("../images/mst.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        position:absolute;
        height: 165px;
        width: 205px;
        margin-left: -20px;
        margin-right: 50px;
        margin-top: 66px;
      }

      section.education #ecc-logo-container #ecc-logo {
        background-image: url("../images/ecc.png");
        background-position: center;
        background-repeat: none;
        background-size: cover;
        position:absolute;
        width: 205px;
        height: 130px;
        border-radius: 0px;
        margin-left: -30px;
        margin-top: -140px;
      }

    section.work{
      background:#7E8F7C;
      background-size: cover;
      background-position: center;
    }

      section.work.container {
        margin-left: 30px;
        margin-right: 30px;
      }

    section.languages{
      background:#558C89;
      background-size: cover;
      background-position: center;
    }

      section.languages.container {
        margin-left: 30px;
        margin-right: 30px;
      }

    section.contact{
      background:#74AFAD;
      background-size: cover;
      background-position: center;
    }

      section.contact.container {
        margin-left: 30px;
        margin-right: 30px;
      }


        
      
    
    
  
 

